body {
    font-family: 'Pacifico', cursive;
    color: black;
    background-color: chocolate;
}

a {
    color: black;
}


.github:hover {
    color: purple;
}

.linkedin:hover {
    color: dodgerblue;
}

.twitter:hover {
     color: deepskyblue;
 }
